div {
    text-align: center;
}

.newPrice {
    float: left;
}

.refresh {
    float: left;
}

table {
    width: 50%;
    background-color: mediumturquoise;
}
tr th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}